<section class="sidebar sidebar-left">
  <div class="brand">
    <a href="#" class="brand__link">
      <span class="brand__link-prefix">Cognitive Map</span>
    </a>
  </div>
  <nav>
    <ul class="sidebar-list">
      <li class="sidebar-list__item" *ngFor="let item of sidebarItems">
        <sidebar-item [sidebarItem]="item"></sidebar-item>
      </li>
      <my-map-list
        (changeMap)="callToChangeMap($event)"
      ></my-map-list>
    </ul>
  </nav>
</section>